[Desktop Entry]
Categories=Application;Utility;Dictionary;
Encoding=UTF-8
Exec=deepin-translator %f
Icon=deepin-translator
Name=Deepin Translator
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false



# Translations
Name[am]=ተርጓሚዎች
Name[ar]=مترجم دييبن
Name[az]=Deepin Tərcüməçi
Name[en_AU]=Deepin Translator
Name[cs]=Překladatel
Name[da]=Deepin Oversætter
Name[de]=Deepin Übersetzer
Name[es]=Traductor Deepin
Name[de_DE]=Deepin Übersetzer
Name[fi]=Deepin Kääntäjä
Name[fr]=Traducteur de Deepin
Name[es_CL]=Deepin Traductor
Name[id_ID]=Penerjemah Deepin
Name[he]=מתרגם Deepin
Name[hr]=Deepin prevoditelj
Name[hu]=Deepin Fordító
Name[hy]=Deepin Թարգմանիչ
Name[it]=Deepin Translator
Name[ja]=翻訳
Name[es_PE]=Traductor Deepin
Name[ms]=Penterjemah Deepin
Name[af_ZA]=Deepin Vertaler
Name[nl]=Deepin Vertaler
Name[es_419]=Traductor Deepin
Name[pt_BR]=Deepin Translator
Name[ro]=Traducator Deepin
Name[ru]=Переводчик Deepin
Name[sk]=Prekladateľ
Name[sl]=Prevajalec Deepin
Name[el_GR]=Μεταφραστής Deepin
Name[tr]=Deepin Çevirici
Name[zh_CN]=深度翻译
Name[zh_TW]=深度翻譯
Name[es_AR]=Traductor Deepin
Name[pl_PL]=Tłumacz Deepin
Name[pt_PT]=Tradutor Deepin
Name[es_ES]=Traductor Deepin
Name[sk_SK]=Deepin prekladač
