[Desktop Entry]
Categories=Application;Utility;Dictionary;
Encoding=UTF-8
Exec=deepin-translator %f
Icon=deepin-translator
Name=Deepin Translator
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false



# Translations


# Translations
Name[am]=ተርጓሚዎች
Icon[am]=ተርጓሚዎች
Name[ar]=مترجم دييبن
Name[az]=Deepin Tərcüməçi
Name[cs]=Překladatel
Icon[cs]=Překladatel
Name[da]=Deepin Oversætter
Icon[da]=deepin oversætter
Name[de]=Deepin Übersetzer
Icon[de]=deepin-translator
Name[el]=Μεταφραστής Deepin
Icon[el]=deepin-translator
Name[es]=Traductor Deepin
Icon[es]=traductor-deepin
Name[fi]=Deepin Kääntäjä
Name[fr]=Traducteur de Deepin
Icon[fr]=traducteur-deepin
Name[es_CL]=Deepin Traductor
Name[he]=מתרגם Deepin
Name[hr]=Deepin prevoditelj
Icon[hr]=deepin-prevoditelj
Name[hu]=Deepin Fordító
Icon[hu]=deepin-fordító
Name[hy]=Deepin Թարգմանիչ
Name[id]=Penerjemah Deepin
Icon[id]=deepin-translator
Name[it]=Deepin Translator
Icon[it]=deepin-translator
Name[ja]=翻訳
Name[es_PE]=Traductor Deepin
Name[ms]=Penterjemah Deepin
Name[af_ZA]=Deepin Vertaler
Name[nl]=Deepin Vertaler
Icon[nl]=deepin-translator
Name[es_419]=Traductor Deepin
Name[pl]=Tłumacz Deepin
Icon[pl]=deepin-translator
Name[pt]=Tradutor Deepin
Icon[pt]=tradutor-deepin
Name[pt_BR]=Deepin Translator
Icon[pt_BR]=deepin-translator
Name[ro]=Traducator Deepin
Icon[ro]=traducator-deepin
Name[ru]=Deepin Translator
Icon[ru]=deepin-translator
Name[sk]=Deepin prekladač
Icon[sk]=deepin-translator
Name[sl]=Prevajalec Deepin
Name[tr]=Deepin Çevirici
Icon[tr]=deepin-translator
Name[uk]=Перекладач Deepin
Icon[uk]=deepin-translator
Name[zh_CN]=深度翻译
Icon[zh_CN]=deepin-translator
Name[zh_TW]=深度翻譯
Icon[zh_TW]=deepin-translator
Name[es_AR]=Traductor Deepin
Name[en_AU]=Deepin Translator
Name[es_ES]=Traductor Deepin
